@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
  font-family: "Open Sans", sans-serif;
}

label {
  font-size: 22px;
}

legend {
  position: relative;
  z-index: 0;
  display: inline-block;
  width: auto;
  margin: 0;
  margin-bottom: 40px;
  color: #000;
  font-weight: 700;
}

legend::before {
  position: absolute;
  content: "";
  width: calc(120%);
  display: block;
  background-color: #f1e100;
  height: 40px;
  z-index: -1;
  left: -30px;
  right: -30px;
  transform: rotate(-1deg);
  transition: transform 0.3s ease;
}

legend:hover::before {
  transform: rotate(2deg);
}

form.card {
  border: none;
}

.letra {
  white-space: pre-wrap;
}

.card img {
  width: 100%;
  margin-bottom: 1rem;
}
h2 {
  margin-bottom: 2rem;
  font-family: "Open Sans", sans-serif;
  border-bottom: 3px solid #f1e100;
  padding-bottom: 10px;
}
.card-body i {
  font-size: 3rem;
  margin-right: 3rem;
}

.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #0084b4;
}
.fa-lastfm {
  color: #d51007;
}

.bg-info {
  background-color: black !important;
}
